body {
    font-family: 'sans-serif';
    font-size: 12pt; /* Adjust the font size as needed */
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.tooltip {
    width: 500px; /* Maximum width for the content */
}

.inline-links {
    text-decoration: underline;
}
